
/* Tablet */
@media screen and (min-width: 450px) and (max-width: 839px) {
	.hero__heading {
		font-size: var(--font-size-large);
	}
}

/* Tablet and Desktop */
@media screen and (min-width: 450px) {
	.pop-drawer {
		max-width: 900px;
	}

	.pop-drawer__accordion {
		max-width: 25rem;
	}

	.pop-drawer__accordion-container {
		width: 17rem;
	}

	.availability-drawer {
		height: 50%;
		width: 50%;
	}

	.hero__heading {
		flex-flow: row nowrap;
		justify-content: center;
	}

	.section2 {
		padding-top: 280px;
	}

	.section2 p {
		width: 400px;
	}

	.section3 div {
		height: 100%;
		width: 35%;
		padding: 0.8rem;
	}

	.section4__caption-container {
		font-size: var(--font-size-base)		
	}

	.section4__caption-container p {
		min-width: 480px;
	}
	
	.section5__bottom-container p:nth-of-type(2) {
		transform: translateX(10%);
	}
	.section5__bottom-container p:nth-of-type(3) {
		transform: translateX(25%);
	}
	.section5__bottom-container p:nth-of-type(4) {
		transform: translateX(50%);
	}
	.section5__bottom-container p:nth-of-type(5) {
		transform: translateX(40%);
	}

	.section-info__about {
		display: block;
	}

	.section-info__info-container {
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: flex-start;
		gap: 0;
		padding: var(--spacing-large) var(--spacing-small)
	}

		/* Help center */
	.help-center__info div {
		padding: var(--spacing-large) 20%;
	}

	.destinations, .rentals {
		padding: var(--spacing-small) 20% var(--spacing-large);
	}
}

/* Midway to desktop */

@media screen and (min-width: 840px) and (max-width: 1150px) {

	.section-bikes__sub-container {
		flex-direction: column;
		gap: var(--spacing-large);
	}

	.section-bikes__slideshow {		
		transform: translateY(0%);
	}	

	.section-bikes__card {
		flex-basis: 45%;
		border: 1px solid black;
		border-radius: 5px;
		padding: 30px;
		box-shadow: 0 0 7px grey;
	}

	.section-bikes__cards__left {
		display: flex;
		flex-direction: row;
		width: 675px;
		justify-content: space-between;
		
		
	}
	.section-bikes__cards__right {
		display: flex;
		flex-direction: row;
		width: 675px;
		justify-content: space-between;

	}
}


/*  Desktop */
@media screen and (min-width: 840px) {
	.menu-drawer {
		max-width: 400px;
	}

	.hero__heading {
		font-size: var(--font-size-xlarge);
	}

	.section2 {
		display: flex;
		gap: 500px;
		color: var(--foreground);
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.section2 p {
		color: black;
		font-size: var(--font-size-base);
		width: 350px;
	}

	.section4 img {
		display: block;
	}

	.section5 {
		height: 100vh;
		display: flex;
	}

	.section-bikes__sub-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-bikes__slideshow {
		width: 100%;
		max-width: 675px;
	}

	.section-bikes__slideshow {		
		order: 2;
		transform: translateY(15%);
	}	
	
	.section-bikes__cards__left {
		order: 1;
		flex-basis: 20%;
		margin: 0 5%;
	}

	.section-bikes__cards__right {
		order: 3;
		flex-basis: 20%;
		margin: 0 5%;
	}

	.section-bikes__card p {
		font-size: var(--font-size-xsmall);
	}
}


/* "Desktop small" */

@media screen and (min-width: 840px) and (max-width: 1150px) {

	.section-bikes__sub-container {
		flex-direction: column;
		gap: var(--spacing-large);
	}

	.section-bikes__slideshow {		
		transform: translateY(0%);
	}	

	.section-bikes__card {
		flex-basis: 45%;
		border: 1px solid black;
		border-radius: 5px;
		padding: 30px;
		box-shadow: 0 0 7px grey;
	}

	.section-bikes__cards__left {
		display: flex;
		flex-direction: row;
		width: 675px;
		justify-content: space-between;
		
		
	}
	.section-bikes__cards__right {
		display: flex;
		flex-direction: row;
		width: 675px;
		justify-content: space-between;

	}

	.section-bikes__slideshow {
		margin-bottom: calc(var(--spacing-large) - 63px);  /* Spacing large minus figcaption height */
	}
}
