
/* Tablet */
@media screen and (min-width: 450px) and (max-width: 839px) {
	.hero__heading {
		font-size: var(--font-size-large);
	}


}

/* Tablet and Desktop */
@media screen and (min-width: 450px) {
	.hero__heading {
		flex-flow: row nowrap;
		justify-content: center;
	}

	.section2 {
		padding-top: 350px;
	}

	.section2 p {
		width: 400px;
	}

	.section3 div {
		height: 100%;
		width: 35%;
		padding: 0.8rem;
	}

	.section4__caption-container {
		font-size: var(--font-size-base)		
	}

	.section4__caption-container p {
		min-width: 480px;
	}
	
	.section5__bottom-container p:nth-of-type(2) {
		transform: translateX(10%);
	}
	.section5__bottom-container p:nth-of-type(3) {
		transform: translateX(15%);
	}
	.section5__bottom-container p:nth-of-type(4) {
		transform: translateX(20%);
	}
	.section5__bottom-container p:nth-of-type(5) {
		transform: translateX(25%);
	}

	.section-info__about {
		display: block;
	}

	.section-info__info-container {
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: flex-start;
		gap: 0;
		padding: var(--spacing-large) var(--spacing-small)
	}


}


/*  Desktop */
@media screen and (min-width: 840px) {
	.hero__heading {
		font-size: var(--font-size-xlarge);
	}

	.section4 img {
		display: block;
	}

	.section5 {
		height: 100vh;
		display: flex;
	}

	.section-bikes {
		display: grid;
		grid-template-columns: repeat(16, 6.25%);
		grid-template-rows: 1fr 3fr 1fr;
		gap: 0;
	}

	.section-bikes__slideshow {
		grid-column: 5 / span 8;
		grid-row-start: 2;		
		height: 100%;
	}	

	.section-bikes__cards__left {
		grid-column: 2 / span 2;
		grid-row-start: 2;
		width: auto;
	}

	.section-bikes__cards__right {
		grid-column: 14 / span 2;
		grid-row-start: 2;
		width: auto;
	}

	.section-bikes__card p {
		font-size: var(--font-size-xsmall);
	}

	.section-bikes>p {
		grid-column: 1 / span all;
	}

	.section-bikes p:last-of-type {
		grid-row: 5;
	}

}