.partner__header {
	position: static;	
}

.availability-drawer {
	height: 50%;
	width: 90%;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	background: var(--background);
	box-shadow: 0 3px 5px #000;
	padding: 10px;
}

.availability-drawer--visible {
	display: flex;
}


.availability-drawer a{
	color: #C12925;
	text-decoration: underline;
}


main {
	min-height: calc(100vh - (110px + 75px)); /* 100vh - (footer + header) */
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);
}

main h1 {
	text-align: center;
}

.partner__accordion-container {
	width: 100%;	
	height: fit-content;
	display: flex;
	justify-content: center;	
	gap: 8px;
}

.partner__accordion {
	width: 100%;	
	max-width: 15rem;
	position: relative;
	font-size: var(--font-size-small);
}

.partner__accordion-button {
	width: 100%;
	height: 1.5rem;
	background: linear-gradient(45deg,
		#C12925 75%,
		rgb(80, 80, 80) 75%,
		#353333 85%,
		#C12925 85%);
	color: var(--background);
	border-radius: 5px;
	display: flex;
	align-items: center;	
}

.partner__accordion-button:hover {
	background: rgb(98, 25, 25)
}

.partner__accordion-button:active {
	background: var(--foreground);
}

.accordion-arrow {
	margin: 0.25rem 0.35rem;	
}

.partner__accordion-button--expanded {
	border-radius: 5px 5px 0 0;
}

.partner__clear-filter svg {
	min-width: 30px;
}

.partner__accordion-content {   
	border-radius: 0 0 5px 5px;
	background: var(--color-primary);
	font-weight: 300;
	width: 100%;
	position: absolute;
	display: none;
	flex-flow: column nowrap;
}

.partner__accordion-content--visible {
	display: flex;
}

.partner__accordion-content button {
	width: 100%;
	text-align: start;
	padding-left: 0.2rem;
}
.partner__accordion-content button:hover {
	background: var(--background);
}

.partner__card-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;	
	justify-content: center;
	gap: var(--spacing-small);
}

.partner-card {
	max-width: 400px;	
	/* min-width: 400px; */
	border: 1px solid var(--color-primary);
	padding: 0.5rem;
	font-size: var(--font-size-xsmall);
	display: flex;
	flex-direction: column;	
	justify-content: flex-end;
}

.partner-card:hover {
	box-shadow: 0 3px 5px var(--color-normal);
}

.partner-card__content div:nth-child(2) {
	font-weight: 600;
	font-size: var(--font-size-base);
}

.partner-card img {
	object-fit: contain;
}

.main__bottom-spacer {
	margin-top: auto;
}