.section-bikes__slideshow {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--color-primary);
	margin: 0 auto calc(var(--spacing-large) + 63px);  /* spacing large plus figcaption height */
	display: flex;
	justify-content: center;
	box-shadow: 0 0 7px grey;
}

.slideshow__slides {
	width: 100%;
	height: 100%;
	padding-bottom: 66.5%;	
}

.slideshow__slide {
	position: absolute;
	object-fit: contain;
	display: none;
}

.slideshow__img {
	object-fit: contain;
}

.slideshow__slide--visible {
	display: block;
}

.slideshow__dots {
	display: flex;
	gap: 10px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateY(-150%) translateX(-50%);
}

.slideshow__dot {
	width: 0.8rem;
	height: 0.8rem;
	border: 3px solid #fff;
	border-radius: 100%;
	opacity: 0.7;
}

.slideshow__dot:hover {
	transform: scale(1.1);
}

.slideshow__dot--active {
	transform: scale(1.2);
}

.slideshow__controls {
	position: absolute;
	display: flex;		
	justify-content: space-between;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.slideshow__control-button svg {
	color: rgb(221, 43, 43);
	opacity: 0.7;
}

.slideshow__controls svg:hover {
	transform: scale(1.1);
}

.slideshow__counter {
	position: absolute;
	right: 5px;
}

.slideshow__caption {
	text-align: center;
}

.slideshow__caption::first-line {
	font-size: var(--font-size-base);
	font-weight: 500;
}