body {
	font-family: 'Roboto', sans-serif;	
	font-size: var(--font-size-base);
}

/* Header */



/* Main sections */
section {
	border: 1px solid red;
}

.hero {
	width: 100vw;
	height: 100vh;
	background-position: cover;
	background: #b4a5a5;
	background-image: url(/assets/images/bruno-van-der-kraan-truck-unsplash.jpeg);
	background-position: center;
	background-size: cover;
}

.section2 {
	width: 100vw;
	height: 70vh;
	background-image: url(/assets/images/ducati-pov.jpeg);
	background-position: center;
	background-size: cover;
}

.section3 {
	width: 100vw;
	height: 100vh;
	background-image: url(/assets/images/pexels-clément-proust-moreogromsdal.jpeg);
	background-position: left;
	background-size: cover;
	background-position-x: -150px;
}

.section4 {
	width: 100vw;
	height: 100vh;
	background-image: url(/assets/images/bergen-ehsan-haque.jpeg);
	background-position: center;
	background-size: cover;
}

.section5 {
	width: 100vw;
	height: 200vh;
}

.section5__top-container {
	width: 100vw;
	height: 100vh;
	background-image: url(/assets/images/eberhard-grossgasteiger.jpeg);
	background-position: center;
	background-size: cover;
	
}
.section5__bottom-container {
	width: 100vw;
	height: 100vh;
	background-image: url(/assets/images/forrest-luke-miller.jpeg);
	background-position: center;
	background-size: cover;
}

.section-bikes {
	width: 100vw;
	height: 200vh;
}

.section-contact {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	background-image: url(/assets/images/lofotsunset-tobias-bjørkli.jpeg);
	background-position: center;
	background-size: cover;
}

.section-contact__form-container {
	width: 100%;
	height: 30%;
	background: var(--color-primary);
}

.section-info {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-end;
}

.section-info__info-container {
	width: 100%;
	height: 70%;
	background: var(--color-primary);
}

footer {
	background: var(--color-primary);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}






/* Slideshow in separate stylesheet */


/* Contact section */


/* About section*/


/* Information section */