html {
	font-size: var(--font-size-base);
}

body {
	font-family: 'Roboto', sans-serif;	
	color: var(--foreground);
}

a {
	transition: 300ms;
}

a:hover {
	transform: scale(1.03);
	color: var(--color-normal);
	text-decoration: underline;
} 


/* Header */
header {
	position: absolute;
	width: 100%;
	height: 75px;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
}

header .header__hamburger-button {
	transition: 100ms;
	position: fixed;
	top: 15px;
	right: 15px;
}

header button:hover {
	transform: scale(1.1);
}


/* Main sections */
.hero {
	width: 100vw;
	height: 100vh;
	background-position: cover;
	background: #b4a5a5;
	background-image: url(../assets/images/bruno-van-der-kraan-truck-unsplash.jpeg);
	background-position: center;
	background-size: cover;
}

.hero__heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5rem;
	font-size: var(--font-size-large);
	font-weight: 500;
}


/* Section 2 - Black bike */
.section2 {
	width: 100vw;
	height: 70vh;
	background-image: url(../assets/images/ducati-pov.jpeg);
	background-position: center;
	background-size: cover;
	padding-top: 265px;
}

.section2 p {
	width: 65%;
	height: fit-content;
	margin: 30px auto;
	font-size: var(--font-size-small);
	font-weight: 500;
	text-align: center;
	color: var(--background);
}


/*  Section 3 - Valley */
.section3 {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/images/pexels-clement-proust-moreogromsdal.jpeg);  /* @TODO bg-image not showing on netlify-link */
	background-size: cover;
	background-position: left;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 2rem solid var(--color-primary);
	border-bottom: 2rem solid var(--color-primary);
}

.section3>div {
	width: 90%;
	height: 35%;
	background: #00000058;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-small);
	font-weight: 500;
	color: var(--background);
	padding: 3rem;
}


/* Section 4 - Bergen */
.section4 {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/images/bergen-ehsan-haque.jpeg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
}

.section4__caption-container {
	width: 100%;
	height: 28%;
	background: var(--color-primary);
	display: flex;
	align-items: center;	
	padding: 10%;
	font-size: var(--font-size-small);
}

.section4__caption-container p::first-line {
	font-weight: 500;
}

.section4 img {
	width: 16rem;
	height: auto;
	margin-left: var(--spacing-small);
	transform: translateY(-10%);
	display: none;
}


/* Section 5 - Woods*2 */
.section5 {
	width: 100vw;
	height: 200vh;
}

.section5__top-container {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/images/eberhard-grossgasteiger.jpeg);
	background-position: center;
	background-size: cover;	
}

.section5__top-container p {
	width: 60%;
	color: var(--foreground);
	font-size: var(--font-size-large);
	font-weight: 500;
	padding-top: 5%;	
	margin-left: 40%;
}

.section5__bottom-container {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/images/forrest-luke-miller.jpeg);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: 40vh;
	padding-left: var(--spacing-small);	
}

.section5__bottom-container p {
	width: fit-content;
	font-size: var(--font-size-xlarge);
	font-weight: 500;
	color: var(--background);
}


/* Section 6 Bikes - Slideshow in separate stylesheet */
.section-bikes {
	width: 100vw;
	height: fit-content;	
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);	
	font-size: var(--font-size-small);
	padding: var(--spacing-large) 0;
}

.section-bikes__cards__left, .section-bikes__cards__right {
	width: 12.5rem;
	margin: 0 auto;
}

.section-bikes__cards__right {
	margin-bottom: var(--spacing-large);
}

.section-bikes>p {
	padding: 0 var(--spacing-small);
	font-size: var(--font-size-xlarge);
	font-weight: 500;
	margin: 0 auto;
	text-align: center;
}

.section-bikes svg {
	margin: var(--spacing-small) auto;
}

.section-bikes p::first-line {
	font-weight: 500;
}


/* Section Contact */
.section-contact {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	background-image: url(../assets/images/lofotsunset-tobias-bjørkli.jpeg);
	background-position: center;
	background-size: cover;
}

.section-contact__form-container {
	width: 100%;
	height: fit-content;
	background: var(--color-primary);
	padding-top: var(--spacing-small);
	font-weight: 500;	
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.section-contact__form-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--spacing-small);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-small);
}

input {
	width: 380px;
	height: 45px;
	border-radius: 10px;
	border: none;
	padding: 10px;
}

.section-contact__button {
	width: 150px;
	border-radius: 10px;
	border: none;
	margin-bottom: var(--spacing-small);
	background: var(--color-normal);
	color: var(--background);
}

.thanks-submit-message {
	font-weight: 400;
	margin-bottom: var(--spacing-small);
	text-align: center;
	padding: 10px;
	display: none;
}

.thanks-submit-message--visible {
	display: block;
}

.error-message {
	margin-bottom: var(--spacing-small);
	text-align: center;
	padding: 10px;
	display: none;
}

/* Section Information */
.info__logo {
	width: 50%;
	height: auto;
	margin-bottom: var(--spacing-large);
	display: flex;
	justify-content: center;
}

.section-info {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-top: var(--spacing-large);
}

.section-info__about {
	width: 80%;
	padding-bottom: var(--spacing-large);
	display: none;             /* Hide "About us" on mobile*/
}

.section-info__about::first-line {
	font-weight: 600;
}


.section-info__info-container {
	width: 100%;
	height: 75%;
	background: var(--color-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: var(--spacing-large);
	padding: var(--spacing-large) 0;

}

.section-info__info {
	width: 250px;
}

.section-info__info::first-line {
	font-weight: 600;
}

.section-social {
	max-width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-small) 0;


}

/* Footer */
footer {
	background: var(--color-primary);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-small) 0;
}